{% load staticfiles %}
{% load cache %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Inwike HR Portal</title>
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "fonts/css/all.css" %}">
    <link rel="stylesheet" type="text/css"  href="{% static "jquery-ui/jquery-ui.structure.min.css" %}">
    <link rel="stylesheet" type="text/css"  href="{% static "jquery-ui/jquery-ui.theme.min.css" %}">
    <script type="text/javascript" src="{% static "jquery/jquery-1.12.4.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.bundle.min.js" %}"></script>
    <script type="text/javascript" src="{% static "jquery-ui/jquery-ui-1.12.1.min.js" %}"></script>

</head>
<body style="padding:60px 0 0 0;">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #0a76bf;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLeft" aria-controls="navbarLeft" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{% url 'base:home' %}"><b>INWIKE HR</b></a>

      <div class="collapse navbar-collapse" id="navbarLeft">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'base:home' %}"><i class="fa fa-chart-pie" aria-hidden="true"></i> Аналитика <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-database" aria-hidden="true"></i> Информация <span class="sr-only">(current)</span></a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'base:scope' 0 %}"><i class="fa fa-graduation-cap"></i>&nbsp; Знания/умения/мастерство</a></li>
              <li><a class="dropdown-item" href="{% url 'base:scope' 1 %}"><i class="fa fa-users"></i>&nbsp; Коммуникабельность</a></li>
              <li><a class="dropdown-item" href="{% url 'base:scope' 2 %}"><i class="fa fa-flag"></i>&nbsp; Ответственность</a></li>
              <li><a class="dropdown-item" href="{% url 'base:scope' 3 %}"><i class="fa fa-trophy"></i>&nbsp; Активность</a></li>
              <li><a class="dropdown-item" href="{% url 'base:scope' 4 %}"><i class="fa fa-cog"></i>&nbsp; Инновационность</a></li>
              <li><a class="dropdown-item" href="{% url 'base:scope' 5 %}"><i class="fa fa-truck"></i>&nbsp; Предприимчивость</a></li>
            </ul>
          </li>

        </ul>

        <ul class="navbar-nav mr-left">
            <li class="nav-item active">
            {% if logged_on %}
                <a class="nav-link" href="{% url "base:logout" %}"><i class="fa fa-sign-out-alt" aria-hidden="true"></i> Выход </a>
            {% else %}
                <a class="nav-link" href="{% url "base:login" %}"><i class="fa fa-sign-in-alt" aria-hidden="true"></i> Вход </a>
            {% endif %}
            </li>
         </ul>
      </div>
    </nav>

    {% if system_message %}
    <div class="alert {{ system_message.type }} alert-dismissible fade show" role="alert">
      <span>{{ system_message.text }}</span>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %}

    {% block content %}
    <main role="main">
      {% block main-content %}
      {% block body %} {% endblock %}  {# body #}
          <br>
      {% endblock %}  {# main-content #}

        <!-- Example row of columns -->
    </main>
    {% endblock %}  {# content #}

    <!-- Footer -->
    <hr class="my-3">
    <footer class="container">
     <p>&copy; Inwike division 2019 {% if user.is_superuser or user.is_staff %} [DataSource: {{ datasource }}] {% endif %}</p>
    </footer>

    {% block js-block0 %}    {% endblock %}
    {% block js-block1 %}    {% endblock %}
    {% block js-block2 %}    {% endblock %}
</body>

</html>